
@{
    ViewBag.Title = "ShopInsert";
    Layout = null;
}
    <html>
    <head>
        <meta charset="utf-8" />
        <title></title>
        <style>
            #divMax {
                width: 100%;
                height: 713px;
                float: left;
            }

            #divbody {
                height: 713px;
                width: 70%;
                float: left;
                margin-left: 230px;
            }
        </style>
    </head>
    <body>
        <div id="divMax">
            <div id="divbody">

            </div>
        </div>
    </body>
    </html>

