
@{
    ViewBag.Title = "ShopShow";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
@using AliyunMvc.Models
<script src="~/Scripts/jquery-3.4.1.js"></script>
<link href="~/layui/css/layui.css" rel="stylesheet" />
<script src="~/layui/layui.js"></script>
<div id="divData">
    @Html.Partial("_ShoplPage1", (List<Shop>)ViewBag.Shop)
</div>